@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&family=Cabin:ital,wght@0,400;0,600;0,700;1,500&display=swap");

$color-gray: #444;
$color-ligthgray: #dddddd;
$color-mediumgray: #888;
$color-black: #000;
$color-white: #fff;

$font-family: "Cabin", sans-serif;
$font-family-2: "Source Sans Pro", sans-serif;

@mixin background_clip_text(
  $color-1: $color-mediumgray,
  $color-2: $color-gray
) {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, $color-1, $color-2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  background-color: $color-white;
  background-image: radial-gradient($color-ligthgray 0.75px, transparent 0.75px),
    radial-gradient($color-ligthgray 0.75px, $color-white 0.75px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
  color: $color-black;
  font-family: $font-family;
  font-size: 1.25rem;
  line-height: 1.6rem;
  @media screen and(min-width: 768px) {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}
.container {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.welcome {
  padding: 1.5rem 0.25rem;
  text-align: center;
  @media screen and(min-width: 768px) {
    padding: 1rem;
  }
  .avatar {
    margin-bottom: 1rem;
    img {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
    }
  }
  .name {
    font-family: $font-family-2;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    @media screen and(min-width: 768px) {
      font-size: 2rem;
      line-height: 3rem;
    }
    span {
      font-weight: 600;
    }
  }
  .dev {
    color: $color-gray;
    margin-bottom: 1rem;
    @include background_clip_text;
  }
  .skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    div {
      font-size: 0.85rem;
      color: $color-black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0.5rem 0.65rem;
      span {
        color: $color-gray;
        @include background_clip_text;
      }
      img {
        width: 1.5rem;
        @media screen and(min-width: 768px) {
          width: 2rem;
        }
      }
    }
  }
  .social {
    margin-top: 1.5rem;
    a {
      color: $color-gray;
      text-decoration: none;
      border-bottom: 1px dotted $color-black;
      margin: 0.5rem;
      font-size: 1rem;
    }
  }
}
